POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=incident_manager

DB_URL=jdbc:postgresql://localhost:5432/incident_manager
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=substituir_pela_chave_gerada
